In [6]:
#Preparations
#Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tqdm import tqdm
import re
import warnings


#Settings
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format',  '{:,.2f}'.format)
pd.set_option('display.precision', 2)

#import the dataset
df = pd.read_csv('metadata.csv', low_memory=False, thousands=',')

#some more information
print('Rows: ' + str(df.shape[0]))
print('Colums: ' + str(df.shape[1]))
print('---------Info of dataset--------------')
print(df.info())
# print('---------Number of missing values----------')
# print(df.isnull().sum())

Rows: 6382
Colums: 34
---------Info of dataset--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   moviename                         6382 non-null   object
 1   Budget                            6382 non-null   int64
 2   link                              6382 non-null   object
 3   Domestic Box Office               6053 non-null   float64
 4   International Box Office          4533 non-null   float64
 5   Worldwide Box Office              4819 non-null   float64
 6   Domestic Release                  5967 non-null   object
 7   Dom Year                          5967 non-null   float64
 8   International Release             2942 non-null   object
 9   Int Year                          2942 non-null   float64
 10  Rating                            5983 non-null   object
 11  Runtime                           5399 non-null   float64
 12  Franchise                         1333 non-null   object
 13  Keywords                          5242 non-null   object
 14  Genre                             6224 non-null   object
 15  Production Method                 6212 non-null   object
 16  Creative Type                     6096 non-null   object
 17  Production/Financing Companies    4050 non-null   object
 18  Production Country                5887 non-null   object
 19  Languages                         5388 non-null   object
 20  Leading Cast                      3948 non-null   object
 21  Supporting Cast                   4381 non-null   object
 22  Production and Technical Credits  5769 non-null   object
 23  Director                          5769 non-null   object
 24  Est. Domestic DVD Sales           2418 non-null   float64
 25  Est. Domestic Blu-ray Sales       2061 non-null   float64
 26  Total Est. Domestic Video Sales   2672 non-null   float64
 27  Lead Ensemble Members             704 non-null    object
 28  Cameos                            583 non-null    object
 29  Uncategorized Crew                1757 non-null   object
 30  Narrator(s)                       81 non-null     object
 31  Extras                            7 non-null      object
 32  Documentary Subject(s)            26 non-null     object
 33  Interviewee(s)                    26 non-null     object
dtypes: float64(9), int64(1), object(24)
memory usage: 1.7+ MB
None